openapi: 3.0.0
info:
    description: API documentation of Wealth Tracker API.
    version: 1.0.0-oas3
    title: Wealth Tracker API Documentation
    contact:
        email: gradimbuyi@outlook.com
    license:
        name: MIT
        url: https://opensource.org/license/mit
tags:
    - name: users
      description: Operations available to regular users
paths:
    /register:
        post:
            tags:
                - users
            summary: Creates a new user.
            operationId: register
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/register'
                description: Takes user input (name, email, and password) to register register new account.
            responses:
                '200':
                    description: User registered successfully.
                '400':
                    description: Request body or parameters error.
                '500':
                    description: Internal server error.
    /login:
        post:
            tags:
                - users
            summary: Logs in to existing account.
            operationId: login
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/login'
                description: Logs in a user if email and password credentials is valid.
            responses:
                '200':
                    description: Returns user token for authentication.
                '400':
                    description: Could not retrieve user info. Request body or parameters error.
                '500':
                    description: Internal server error.
    /verify:
        post:
            tags:
                - users
            summary: Verify user email.
            operationId: verifyEmail
            parameters:
                - in: query
                  name: token
                  required: true
                  description: The email verification token sent to the user.
                  schema:
                      type: string
            responses:
                '200':
                    description: Changed user's email verification status.
                '400':
                    description: Failed to change user's email verification status.
                '500':
                    description: Internal server error.
    /resend-verification:
        post:
            tags:
                - users
            summary: Sends verification link to user's email.
            operationId: resendVerification
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/resendVerification'
                description: The email verification token sent to the user.
            responses:
                '200':
                    description: Verification link sent successfully.
                '400':
                    description: Invalid format for request body.
                '500':
                    description: Internal server error.
    /forgot-password:
        post:
            tags:
                - users
            summary: Sends user a link to recover their password.
            operationId: forgotPassword
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/password'
                description: The user's email address.
            responses:
                '200':
                    description: Recovery link sent successfully.
                '400':
                    description: Invalid format for request body.
                '500':
                    description: Internal server error.
    /change-password:
        post:
            tags:
                - users
            summary: Changs the user's password.
            operationId: changePassword
            parameters:
                - in: query
                  name: token
                  required: true
                  description: The verification token sent to the user.
                  schema:
                      type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/password'
                description: The user's email address.
            responses:
                '200':
                    description: Password changed successfully.
                '400':
                    description: Invalid format for request body. Failed to change password.
                '500':
                    description: Internal server error.
    /accounts:
        get:
            tags:
                - users
            summary: Get all the accounts associated with logged in user.
            operationId: getAccounts
            security:
                - bearerAuth: []
            responses:
                '200':
                    description: Returned accounts associated with User.
                '500':
                    description: Internal Server Error.
    /account:
        post:
            tags:
                - users
            summary: Create account for logged in User.
            operationId: createAccount
            security:
                - bearerAuth: []
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/createAccount'
                description: Required Fields for account creation.
            responses:
                '200':
                    description: Returned account associated with User.
                '500':
                    description: Internal server error.

    /account{id}:
        get:
            tags:
                - users
            summary: Get specific account associated with logged in User.
            operationId: getAccount
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: id
                  required: true
                  description: The id of the account to retrieve.
                  schema:
                      type: string
            responses:
                '200':
                    description: Returned account associated with User.
                '500':
                    description: Internal server error.
        put:
            tags:
                - users
            summary: Update specific account associated with logged in User.
            operationId: updateAccount
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: id
                  required: true
                  description: The id of the account to update.
                  schema:
                      type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/updateAccount'
            responses:
                '200':
                    description: Updated account associated with User.
                '400':
                    description: Failed to update account. Error in request body format.
                '500':
                    description: Internal server error.
        delete:
            tags:
                - users
            summary: Delete specific account associated logged in User.
            operationId: deleteAccount
            security:
                - bearerAuth: []
            parameters:
                - in: path
                  name: id
                  required: true
                  description: The id of the account to delete.
                  schema:
                      type: string
            responses:
                '200':
                    description: Deleted account associated with User.
                '400':
                    description: Failed to delete account. Error in request body format.
                '500':
                    description: Internal server error.
components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
    schemas:
        register:
            type: object
            required:
                - firstName
                - lastName
                - phone
                - email
                - password
                - confirmPassword
            properties:
                firstName:
                    type: string
                    example: David
                lastName:
                    type: string
                    example: Smith
                phone:
                    type: string
                    example: 555-555-5555
                email:
                    type: string
                    example: dsmith@gmail.com
                password:
                    type: string
                    example: thisisapassword
                confirmPassword:
                    type: string
                    example: thisisapassword
        login:
            type: object
            required:
                - login
                - password
            properties:
                login:
                    type: string
                    example: gradimbuyi@outlook.com
                password:
                    type: string
                    example: test123
        resendVerification:
            type: object
            required:
                - email
            properties:
                email:
                    type: string
                    example: gradimbuyi@outlook.com
        password:
            type: object
            required:
                - email
            properties:
                email:
                    type: string
                    example: gradimbuyi@outlook.com
        updateAccount:
            type: object
            properties:
                accountName:
                    type: string
                    example: Wells Fargo Checking
                accountType:
                    type: string
                    example: Checking
                accountNumber:
                    type: number
                    example: 20762971795
                accountInstitution:
                    type: string
                    example: Wells Fargo
                balance:
                    type: number
                    example: 2062.15
                currency:
                    type: string
                    example: USD
                isActive:
                    type: boolean
                    example: true

        createAccount:
            type: object
            required:
                - accountName
                - accountType
                - accountNumber
                - accountInstitution
                - balance
            properties:
                accountName:
                    type: string
                    example: Wells Fargo Checking
                accountType:
                    type: string
                    example: Checking
                accountNumber:
                    type: number
                    example: 20762971795
                accountInstitution:
                    type: string
                    example: Wells Fargo
                balance:
                    type: number
                    example: 2062.15
                currency:
                    type: string
                    example: USD
                isActive:
                    type: boolean
                    example: true
servers:
    - url: http://wealthtrackit.tech/api
      description: Production server
    - url: https://virtserver.swaggerhub.com/grady-4ce/WealthTracker/1.0.0
      description: Mock server (for testing)
