swagger: '2.0'
info:
    description: API documentation of Wealth Tracker API.
    version: 1.0.0
    title: Wealth Tracker API Documentation
    contact:
        email: gradimbuyi@outlook.com

    license:
        name: MIT
        url: https://opensource.org/license/mit
tags:
    - name: users
      description: Operations available to regular users

host: wealthtrackit.tech
basePath: /api
schemes:
    - http
consumes:
    - application/json
produces:
    - application/json

paths:
    /register:
        post:
            tags:
                - users
            summary: Creates a new user.
            operationId: register
            parameters:
                - in: body
                  name: register
                  description: Takes user input (name, email, and password) to register register new account.
                  schema:
                      $ref: '#/definitions/register'
            responses:
                200:
                    description: User registered successfully.
                400:
                    description: Request body or parameters error.
                500:
                    description: Internal server error.
    /login:
        post:
            tags:
                - users
            summary: Logs in to existing account.
            operationId: login
            parameters:
                - in: body
                  name: login
                  description: Logs in a user if email and password credentials is valid.
                  schema:
                      $ref: '#/definitions/login'
            responses:
                200:
                    description: Returns user token for authentication.
                400:
                    description: Could not retrieve user info. Request body or parameters error.
                500:
                    description: Internal server error.
    /verify:
        post:
            tags:
                - users
            summary: Verify user email.
            operationId: verifyEmail
            parameters:
                - in: query
                  name: token
                  required: true
                  type: string
                  description: The email verification token sent to the user.
            responses:
                200:
                    description: Changed user's email verification status.
                400:
                    description: Failed to change user's email verification status.
                500:
                    description: Internal server error.
    /resend-verification:
        post:
            tags:
                - users
            summary: Sends verification link to user's email.
            operationId: resendVerification
            parameters:
                - in: body
                  name: email
                  type: string
                  description: The email verification token sent to the user.
                  schema:
                      $ref: '#/definitions/resendVerification'
            responses:
                200:
                    description: Verification link sent successfully.
                400:
                    description: Invalid format for request body.
                500:
                    description: Internal server error.
    /forgot-password:
        post:
            tags:
                - users
            summary: Sends user a link to recover their password.
            operationId: forgotPassword
            parameters:
                - in: body
                  name: email
                  type: string
                  description: The user's email address.
                  schema:
                      $ref: '#/definitions/password'
            responses:
                200:
                    description: Recovery link sent successfully.
                400:
                    description: Invalid format for request body.
                500:
                    description: Internal server error.
    /change-password:
        post:
            tags:
                - users
            summary: Changs the user's password.
            operationId: changePassword
            parameters:
                - in: query
                  name: token
                  type: string
                  required: true
                  description: The verification token sent to the user.
                - in: body
                  name: email
                  description: The user's email address.
                  schema:
                      $ref: '#/definitions/password'
            responses:
                200:
                    description: Password changed successfully.
                400:
                    description: Invalid format for request body. Failed to change password.
                500:
                    description: Internal server error.

definitions:
    register:
        type: object
        required:
            - firstName
            - lastName
            - phone
            - email
            - password
            - confirmPassword
        properties:
            firstName:
                type: string
                example: David
            lastName:
                type: string
                example: Smith
            phone:
                type: string
                example: 555-555-5555
            email:
                type: string
                example: dsmith@gmail.com
            password:
                type: string
                example: thisisapassword
            confirmPassword:
                type: string
                example: thisisapassword
    login:
        type: object
        required:
            - email
            - password
        properties:
            email:
                type: string
                example: gradimbuyi@outlook.com
            password:
                type: string
                example: test123

    resendVerification:
        type: object
        required:
            - email
        properties:
            email:
                type: string
                example: gradimbuyi@outlook.com
    password:
        type: object
        required:
            - email
        properties:
            email:
                type: string
                example: gradimbuyi@outlook.com
